@using Portfolio.Components.Educations
@using Portfolio.Components.Expriences
@using Portfolio.Components.Achivements
@using Portfolio.Components.AboutSectionTitles
@using Portfolio.Components.Skills


@page "/AboutMe"
@page "/"

<div id="content">
<Container Class="text-center">
<Row>
    <Column>
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Source="Images/profile.png" AlternateText="Profile picture"/>
        </Figure>
    </Column>
</Row>
<Row>
    <Column>
        <Heading Size="HeadingSize.Is1" Alignment="TextAlignment.Center">Hubert Morawski</Heading>
    </Column>
</Row>
<Row>
    <Column>
        <Paragraph Alignment="TextAlignment.Center" Italic="true">
            C# passionate who loves making bugs and removing features... Wait a second... sss
        </Paragraph>
    </Column>
</Row>
<Row>
    <Column>
        <Text Alignment="TextAlignment.Center">
            E-mail: <a href="mailto:hubert.morawski2@gmail.com">hubert.morawski2@gmail.com</a> <br/>
            Portoflio: <a href="https://morasiu.github.io/Portfolio">https://morasiu.github.io/Portfolio</a>
        </Text>
    </Column>
</Row>
<Row/>

<AboutSectionTitle Title="Skills"/>

<Row>
    <Column>
        <Heading Size="HeadingSize.Is4" Alignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
            Languages
        </Heading>
    </Column>
</Row>

<SkillList TooltipText="1 = just started, 5 = fully mastered">
    <Skill Name="SkillName.CSharp" Level="SkillLevel.Four"/>
    <Skill Name="SkillName.Python" Level="SkillLevel.Two"/>
    <Skill Name="SkillName.Rust" Level="SkillLevel.One"/>
</SkillList>

<Row>
    <Column>
        <Heading Size="HeadingSize.Is4" Alignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
            Technologies
        </Heading>
    </Column>
</Row>

<SkillList TooltipText="1 = just started, 5 = fully mastered">
    <Skill Name="SkillName.AspNet" Level="SkillLevel.Four"/>
    <Skill Name="SkillName.VisualStudio" Level="SkillLevel.Four"/>
    <Skill Name="SkillName.Git" Level="SkillLevel.Three"/>
    <Skill Name="SkillName.Unity" Level="SkillLevel.Two"/>
    <Skill Name="SkillName.Linux" Level="SkillLevel.Two"/>
    <Skill Name="SkillName.Sql" Level="SkillLevel.Two"/>
    <Skill Name="SkillName.GoogleCloudPlatform" Level="SkillLevel.One"/>
    <Skill Name="SkillName.Angular" Level="SkillLevel.One"/>
    <Skill Name="SkillName.Bootstrap" Level="SkillLevel.One"/>
</SkillList>

<Row>
    <Column>
        <Heading Size="HeadingSize.Is4" Alignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
            Others
        </Heading>
    </Column>
</Row>

<SkillList TooltipText="1 = just started, 5 = fully mastered">
    <Skill Name="SkillName.RestApi" Level="SkillLevel.Five"/>
    <Skill Name="SkillName.English" Level="SkillLevel.Four"/>
    <Skill Name="SkillName.UnitTests" Level="SkillLevel.Four"/>
    <Skill Name="SkillName.DesignPatterns" Level="SkillLevel.Three"/>
</SkillList>

<AboutSectionTitle Title="Experience"/>

<Experience
    CompanyName="Code Hydra"
    JobTitle="Owner"
    JobDescription=@("I started this company in May 2019. Right now I'm just a self-employed freelancer looking for some opportunities. I'm specialized in .Net Core Web API projects.")
    JobStart="@(new DateTime(2019, 05, 1))"/>

<Experience
    CompanyName="Tronel"
    JobTitle="Software Engineer"
    JobDescription=@("I was responsible for maintaining the WinForms and WPF desktop application. My main tasks were: implementing new features based on technical documentation, cooperating with the worldwide team, fixing bugs, writing documentation.")
    JobStart="@(new DateTime(2019, 01, 1))"
    JobEnd="@(new DateTime(2019, 03, 1))"/>

<Experience
    CompanyName="Qumak"
    JobTitle="Junior Programmer"
    JobDescription=@("I was developing Web API in .Net Core with C# and Entity Framework for employee management system from scratch. Hence I was in charge of designing the database, writing new features, unit testing with xUnit and writing API documentation.")
    JobStart="@(new DateTime(2018, 04, 1))"
    JobEnd="@(new DateTime(2018, 12, 1))"/>

<Experience
    CompanyName="Qumak"
    JobTitle="Junior Solutions Engineer"
    JobDescription=@("I wrote multiple Python apps for our QumakOS. It was an Arch-based Linux distro. For example Digital Signage system, document trimmer (using OpenCV), chat, auto updater, push notification app, API client.")
    JobStart="@(new DateTime(2017, 07, 1))"
    JobEnd="@(new DateTime(2018, 03, 1))"/>



<AboutSectionTitle Title="Education"/>

<Education
    SchoolName="College of Economics and Computer Science"
    Major="Information Technology"
    Minor="Designing and development of computer games"
    Start="@(new DateTime(2017, 1, 1))"
    End="@(new DateTime(2021, 1, 1))"/>

<AboutSectionTitle Title="Certificates"/>

<Row>
    <Column ColumnSize="ColumnSize.Is1"/>
    <Column ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnMobile" Class="align-self-center" Margin="Margin.Is3">
        <img src="Images/microsoft_small.png"/>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
        <Row>
            <Column>
                <Text>98-375 MTA - HTML5 Application Development Fundamentals</Text>
            </Column>
        </Row>
        <Row>
            <Column>
                <Text>98-364 MTA - Database Fundamentals</Text>
            </Column>
        </Row>
        <Row>
            <Column>
                <Text>98-361 MTA - Software Development Fundamentals (C#)</Text>
            </Column>
        </Row>
        <Row>
            <Column>
                <Text>98-381 MTA - Introduction to Programming Using Python</Text>
            </Column>
        </Row>
    </Column>
</Row>

<AboutSectionTitle Title="Achievements"/>

<Achivement
    AchievementName="Sheep Your Hack"
    Title="1st Place Hackathon Sheep Your Hack 2"
    AchievementDate="@(new DateTime(2020, 11, 17))"
    Description="Printy is a web app, which solves the problem of difficult access to printing spots. Printy allows any private person to share his idle printer. I've created web API and database for Printy."/>


<Achivement
    AchievementName="BulldogJob article"
    Title="Article published at BulldogJob"
    AchievementDate="@(new DateTime(2020, 09, 17))"
    Description="I've written an article about creating Web API client in .Net and it was published on popular programming site called BulldogJob. It contained integrations tests guide, publishing packages to nuget and more."/>

<Achivement
    AchievementName="City Coders Płock"
    Title="1st Place Hackathon City Coders Płock"
    AchievementDate="@(new DateTime(2017, 05, 21))"
    Description="I've made app called TeamUp. It was an app for finding sport partners, teams for competitive games, gym buddies etc. I was responsible for making Android App using Android studio."/>

<Row Class="justify-content-center show_print">
    <Column Class="show_print">
        <p style="font-size: 6pt;line-height: 6pt;" class="show_print">
            <i class="show_print">
                I agree to the processing of personal data provided in this document for realising the recruitment
                process pursuant to the Personal Data Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000)
                and in agreement with Regulation (EU) 2016/679 of the European Parliament and of the Council of
                27 April 2016 on the protection of natural persons with regard to the processing of personal data
                and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection
                Regulation).
            </i>
        </p>
    </Column>
</Row>

<Row Class="hide_print justify-content-center">
    <Column ColumnSize="ColumnSize.IsAuto.OnDesktop">
        <Button Color="Color.Primary" Clicked="DownloadPdf">
            Download CV as PDF
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto.OnDesktop" Class="align-self-center">
        <Tooltip Text="Works in Chrome. Use 'Save as PDF` option.">
            <i class="fas fa-question-circle"></i>
        </Tooltip>
    </Column>
</Row>

</Container>
</div>

@inject IJSRuntime JS;

@code {

    async Task DownloadPdf() {
        await JS.InvokeVoidAsync("downloadPdfJs", "content");
    }

}